---
layout: default
title: Cantopia - Erweiterungen
---

<section>
    <div>
        <h3 class="page-heading">Erweiterungen</h3>
        <p>
            Zum Grundspiel von Cantopia gibt es noch 4 Erweiterungen.
            Diese können beliebig mit dem Grundspiel kombiniert werden.
            Je mehr Erweiterungen gleichzeitig gespielt werden, desto dynamischer und komplexer wird das Spielgeschehen.
        </p>
        <p>
            Die Rollen im Spiel sind bei Cantopia folgende:
        </p>
        <table class="table">
            <tr>
                <th>Siedler: </th>
                <td>Teilnehmer des Spiels</td>
            </tr>
            <tr>
                <th>Siedlung: </th>
                <td>Eine Gruppe bestehend aus mehreren Siedlern</td>
            </tr>
            <tr>
                <th>Bürgermeister: </th>
                <td>Betreuer einer Siedlung</td>
            </tr>
        </table>
    </div>
</section>

{% include erweiterungen.html folder="erweiterungen" data="erweiterungen" %}

<section class="section-gradient">
    <div>
        <h4>Cantopia-App</h4>
        <p>
            Schon von der Cantopia-App gehört? Sie nimmt dem Bürgermeister viel Arbeit ab und verringert so unter
            anderem die Vorbereitungszeit.
        </p>
        {% include /comp/centered-button.html name="Mehr dazu" site="cantopia-app" %}
    </div>
</section>