---
layout: default
title: Cantopia by FluhrerGames
---

<div class="hero-image">
    <div class="container text-center hero-text text-white">
        <h1>Cantopia</h1>
        <h3 class="hero-subtitle font-italic">
            Settle down & rise up
        </h3>
        <br>
        <br>
        <a href="#was-ist-cantopia" class="text-white">
            <i class="fas fa-chevron-circle-down fa-4x"></i>
        </a>
    </div>
</div>

<section>
    <div>
        <h4 id="was-ist-cantopia">Was ist Cantopia?</h4>
        <p class="text-center">Ein (Großgruppen)-Spiel mit...</p>
        {% include comp/icons.html folder="home" data="was-ist-cantopia" %}
    </div>
</section>

<section>
    <div>
        <h4 id="wie-funktioniert-cantopia">Wie funktioniert Cantopia?</h4>
        {% include comp/image-and-text.html folder="home" data="wie-funktioniert-cantopia" %}
        {% include comp/centered-button.html name="Mehr zum Spiel" site="das-spiel" %}
    </div>
</section>

<section>
    <div>
        <h4 id="welchen-umfang-hat-cantopia">Welchen Umfang hat Cantopia?</h4>
        {% include comp/icons.html folder="home" data="welchen-umfang-hat-cantopia" %}
    </div>
</section>

<section>
    <div>
        <h4 id="wie-kann-ich-cantopia-spielen">Wie kann ICH Cantopia spielen?</h4>
        <p>Du kannst Cantopia ausleihen, kaufen, selber bauen oder wir kommen vorbei und leiten es an.</p>
        {% include comp/centered-button.html name="Mehr dazu" site="get-cantopia" %}
    </div>
</section>

<section>
    <div>
        <h4 id="wen-begeistert-cantopia">Wen begeistert Cantopia?</h4>
        <p class="text-center">
            Bisher haben <span class="big-text">1.907</span> Spieler Cantopia gespielt.<br>
            Davon hauptsächlich in <span class="big-text">Kinder- und Jugendfreizeiten</span>.<br>
            Cantopia ist aber auch geeignet für <span class="big-text">Team- und Firmenevents</span>.
        </p>
        {% include comp/quotes.html folder="home" data="quotes" %}
    </div>
</section>

<section>
    <div>
        <h4 id="impressionen">Impressionen</h4>
        <!-- Place <div> tag where you want the feed to appear -->
        <div id="curator-feed-fluhrergames-home-insta-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
        <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
        <script type="text/javascript">
            /* curator-feed-fluhrergames-home-insta-feed-layout */
            (function(){
                var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
                i.src = "https://cdn.curator.io/published/928b5636-628d-4afc-b607-8701428777e7.js";
                e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
            })();
        </script>
    </div>
</section>
