<div>
    {% for item in site.data[include.folder].[include.data] %}
        <div class="image-and-text row">
            <div class="image">
                {% if item.bigimage %}
                <a data-fslightbox="erweiterungen" href="/assets/images/{{item.image}}">
                    {% endif %}
                    <img width="100%" src="/assets/images/{{item.image}}" alt="{{item.imagealt}}">
                    {% if item.imageCaption %}
                    <div class="image-subtitle">{{item.imageCaption}}</div>
                    {% endif %}
                    {% if item.bigimage %}
                </a>
                {% endif %}
            </div>
            <div class="col-md-9 d-flex">
                {% if item.title %}
                    <h5>{{item.title}}</h5>
                {% endif %}
                <p>{{item.facts|markdownify}}</p>
            </div>
        </div>
        {% if item.extraInfo %}
            <div class="row extra-info">
                <div class="col-2 col-md-3">
                    <div class="vertical-ruler"></div>
                </div>
                <div class="col-10 col-md-9">
                    {% for info in item.extraInfo %}
                        <div class="row py-4">
                            <div class="col text">
                                <h5>{{info.title}}</h5>
                                {{info.facts | markdownify}}
                            </div>
                            <div class="image col-md-3 p-md-0">
                                <a data-fslightbox="erweiterungen" href="/assets/images/{{info.image}}">
                                    <img width="100%" src="/assets/images/{{info.image}}" alt="{{info.imagealt}}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>