<h5 class="italic-serif">Was kostet es, Cantopia zu spielen?</h5>
<p>Bei der Preisgestaltung des Spiels Cantopia verfolgen wir das Prinzip <strong>"Zahle, was es dir wert ist"</strong>. Mehr dazu findest du <a href="/preis">hier</a>.</p>
<br>
<h5 class="italic-serif">Wie viele Leute brauche ich mindestens?</h5>
<p>Cantopia wurde bereits nur mit 6 Personen gespielt und hat dabei den Spielenden schon richtig viel Spaß bereitet.</p>
<br>
<h5 class="italic-serif">Kann ich Cantopia drinnen oder draußen spielen?</h5>
<p>Das ist im Prinzip egal, beides ist problemlos möglich. Deshalb ist es auch nicht abhängig von der Jahreszeit.</p>
<br>
<h5 class="italic-serif">Wie viele Leute müssen in ein Team?</h5>
<p>Mindestens 2. Cantopia lebt vom Spielen in Teams. Jedoch sollten es nicht mehr als 10 in einem Team sein, denn sonst könnten sich manche langweilen.</p>
<br>
<h5 class="italic-serif">Was muss ich organisieren?</h5>
<p>Ihr müsst nur Cantopia <a href="https://forms.gle/JTz4y4myHv6oPbSK6">reservieren</a> und dann klären wir mit euch, wie die Materialien zu euch kommen.<br> Am Spieltag müsst ihr nur die Materialien vorbereiten und das Präsentations-Video den Spielenden zeigen und dann kann es schon losgehen.</p>
<br>
<br>
<p>Du hast weitere Fragen, die hier nicht beantwortet sind? Schreibe uns einfach über <a href="#kontakt">diese Kanäle</a>!</p>
