<h5 class="italic-serif">Was kostet es, Cantopia zu spielen?</h5>
<p>Das ist tatsächlich immer im Einzelfall zu betrachten. Hier kommen viele Faktoren (Anzahl der Teams, Anzahl Erweiterungen, Spielort, welches Paket) zusammen, weshalb kein pauschaler Preis genannt werden kann. <a href="#kontakt">Schreib' uns</a> einfach mal und dann können wir verhandeln.</p>
<br>
<h5 class="italic-serif">Wie viele Leute brauche ich mindestens?</h5>
<p>Cantopia wurde bereits nur mit 6 Personen gespielt und hat dabei den Spielenden schon richtig viel Spaß bereitet.</p>
<br>
<h5 class="italic-serif">Kann ich Cantopia drinnen oder draußen spielen?</h5>
<p>Das ist im Prinzip egal, beides ist problemlos möglich. Deshalb ist es auch nicht abhängig von der Jahreszeit.</p>
<br>
<h5 class="italic-serif">Wie viele Leute müssen in ein Team?</h5>
<p>Mindestens 2. Cantopia lebt vom Spielen in Teams. Jedoch sollten es nicht mehr als 10 in einem Team sein, denn sonst könnten sich manche langweilen.</p>
<br>
<h5 class="italic-serif">Was muss ich organisieren?</h5>
<p>Wenn du dir das Paket "Ausleihen" aussuchst, solltest du detailliert die Spielregeln lesen, am Spieltag die Spielmaterialien hinrichten und das Spiel anleiten. Wenn wir es anleiten, musst du nur die Location und die Teilnehmenden organisieren.</p>
<br>
<br>
<p>Du hast weitere Fragen, die hier nicht beantwortet sind? Schreibe uns einfach über <a href="#kontakt">diese Kanäle</a>!</p>