<footer>
<!--    <script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>-->
<!--    <script src="{{ site.baseurl }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->

<!--    <script src="{{ site.baseurl }}/node_modules/materialize-css/js/global.js"></script>-->
<!--    <script src="{{ site.baseurl }}/node_modules/materialize-css/js/anime.min.js"></script>-->
<!--    <script src="{{ site.baseurl }}/node_modules/materialize-css/js/component.js"></script>-->
<!--    <script src="{{ site.baseurl }}/node_modules/materialize-css/js/cash.js"></script>-->
<!--    <script src="{{ site.baseurl }}/node_modules/materialize-css/js/materialbox.js"></script>-->

    {% include kontakt.html %}

    <script src="/assets/main.js"></script>
</footer>
