<script src="/assets/main.js"></script>
{% if page.dependencies %}
    {% for dependency in page.dependencies %}
        <script src="/assets/{{dependency}}.js"></script>
    {% endfor %}
{% endif %}

<!-- Matomo -->
<!-- See more infos about disabled cookies in matomo here: https://www.content-iq.com/tracking-mit-matomo-ohne-cookies/ -->
<script>
    if (window.location.hostname === "fluhrer.games") {
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['disableCookies']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//matomo.fluhrers.de/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '3']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    }
</script>
<!-- End Matomo Code -->


<!-- Start Cookie Plugin -->
<!--<script>-->
<!--    window.cookieconsent_options = {-->
<!--        message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',-->
<!--        dismiss: 'Alles klar!',-->
<!--        learnMore: 'Mehr Infos',-->
<!--        link: '/datenschutz/',-->
<!--        theme: 'light-floating'-->
<!--    };-->
<!--</script>-->
<!--<script src="//s3.amazonaws.com/valao-cloud/cookie-hinweis/script-v2.js"></script>-->
<!-- Ende Cookie Plugin -->
