<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/fluhrer_games_logo_bunt.svg" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation %}
                <li class="nav-item font-weight-bold {% if page.url == item.link %}active{% endif %}">
                    <a class="nav-link" href="{{ item.link }}">
                        <h6 class="d-inline font-serif">{{ item.name}}</h6>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>