<section>
    <div>
        <h4>Kontakt</h4>
        <p>Weitere Fragen? Telefongespräch oder Angebot erwünscht? Kontaktiere uns einfach via:</p>
        {% for item in site.data.kontakt %}
            <div class="d-flex align-items-center py-3">
                <div class="d-flex flex-column text-center">
                    <i class="{{item.icon}} fa-3x"></i>
                    <small>{{item.name}}</small>
                </div>
                {% if item.link %}
                    <a class="text-white" href="{{item.link}}" target="_blank">
                {% endif %}
                    <u>{{item.text}}</u>
                {% if item.link %}
                    </a>
                {% endif %}
            </div>
        {% endfor %}

        <div class="text-center">
            <a class="text-white" href="/impressum">Impressum</a>&nbsp;&nbsp;
            <a class="text-white" href="/datenschutz">Datenschutz</a>
        </div>
        <br>
    </div>
</section>