.glide__track {
    overflow: unset !important;
}
.glide__slide:not(.glide__slide--active) {
    filter: opacity(0.3);
}
.glide__arrows {
    .glide__arrow {
        color: white;
        /* background-color: white; */
        box-shadow: none;
        border: none;
        @extend .text-shadow;
        &.glide__arrow--right {
            @include media-breakpoint-up(lg) {
                right: 9.3em;
            }
            right: -1.3em;
        }
        &.glide__arrow--left {
            @include media-breakpoint-up(lg) {
                left: 9.3em;
            }
            left: -1.3em;
        }
    }
}
.glide__bullets {
    bottom: -1.5em !important;
    .glide__bullet {
        background-color: lightgrey;
        &.glide__bullet--active {
            background-color: black;
        }
        &:hover, &:focus {
            border: 2px solid grey;
            background-color: grey;
        }
    }
}