$theme-colors: (
        "primary": #195AA9,
        "danger": #D80000,
        "warning": #FFC000,
        "grey": #6c757d
);
$grey-background: #d3d3d33d;

.text-shadow {
    text-shadow: 0 3px 20px #0000008a;
}

$h1-font-size: 4.8rem;
$h1-font-size-mobile: 2.6rem;
$h2-font-size: 4rem;
$h3-font-size: 3.2rem;
$h4-font-size: 2.4rem;
$h4-font-size-mobile: 2rem;
$h5-font-size: 1.75rem;
$h6-font-size: 1.25rem;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1140px
);