.hero-image {
  /*background-attachment: scroll;*/
  background-image: url(/assets/images/dice.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  .hero-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hero-subtitle {
      font-weight: normal !important;
      line-height: 1;
    }
  }
}

@include media-breakpoint-down(md){
  .hero-image {
    height: 500px;
  }
}

.big-text {
  @extend .text-danger;
  @extend h5;
  @extend .d-inline;
  font-size: 2rem;
}