.navbar {
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  border-bottom: lightgrey 1px solid;
  width: 100%;

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .btn-action {
    @extend .btn;
    @extend .btn-primary;
    font-size: 1.1rem;
  }
}
@supports not ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .navbar{
    background-color: white;
  }
}

// ie fix for navbar
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .navbar{
    background-color: white;
  }
}
