<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% for item in include.data %}
            <li class="glide__slide">
                <!--                        <a data-fslightbox="erweiterungen"-->
                <!--                           href="/assets/images/erweiterungen/{{erweiterung.id}}-cover.jpg">-->
                <div class="image-big d-flex justify-content-center">
                    <div>
                        <img src="/assets/images/{{item.image}}" class="w-100"
                             alt="{{item.imagealt}}">
                        {% if item.caption %}
                            <div class="text-center small-text text-grey pt-2">{{item.caption}}</div>
                        {% endif %}
                    </div>
                </div>
                <!--                        </a>-->
            </li>
            {% endfor %}
        </ul>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            {% for item in include.data %}
                <button class="glide__bullet" data-glide-dir="={{forloop.index0}}" aria-label="Gehe zu Bild {{forloop.index}}"></button>
            {% endfor %}
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<" aria-label="zu vorherigem Bild">
                <i class="fas fa-chevron-circle-left fa-2x"></i>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="zu nächstem Bild">
                <i class="fas fa-chevron-circle-right fa-2x"></i>
            </button>
        </div>
    </div>
</div>