<div>
    {% for item in site.data[include.folder].[include.data] %}
        <div class="image-and-text row">
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% if thecycle == 'odd' %}
                <div class="image">
                    {% if item.bigimage %}
                        <a data-fslightbox="image-and-text" href="/assets/images/{{item.image}}">
                    {% endif %}
                        <img src="/assets/images/{{item.image}}" alt="{{item.imagealt}}">
                    {% if item.imageCaption %}
                        <div class="image-subtitle">{{item.imageCaption}}</div>
                    {% endif %}
                    {% if item.bigimage %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
                <div class="col-md-9">
                    {% if item.title %}
                        <h5>{{item.title}}</h5>
                    {% endif %}
                    {% if item.story %}
                        <p class="font-italic font-serif">&bdquo;{{item.story}}&quot;</p>
                    {% endif %}
                    {{item.facts|markdownify}}
                </div>
            {% if thecycle == 'even' %}
                <div class="image">
                    {% if item.bigimage %}
                        <a data-fslightbox="image-and-text" href="/assets/images/{{item.image}}">
                    {% endif %}
                        <img src="/assets/images/{{item.image}}" alt="{{item.imagealt}}">
                    {% if item.imageCaption %}
                        <div class="image-subtitle">{{item.imageCaption}}</div>
                    {% endif %}
                    {% if item.bigimage %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>