<div>
    {% for item in site.data[include.folder].[include.data] %}
        <div class="image-and-text row">
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% if thecycle == 'odd' %}
                <div class="image">
                    <img class="materialboxed" width="100%" src="/assets/images/{{item.image}}" alt="{{item.imagealt}}">
                </div>
            {% endif %}
                <div class="col-md-9">
                    <h5>{{item.title}}</h5>
                    <p class="font-italic">{{item.story}}</p>
                    <p>{{item.facts}}</p>
                </div>
            {% if thecycle == 'even' %}
                <div class="image">
                    <img class="materialboxed" width="100%" src="/assets/images/{{item.image}}" alt="{{item.imagealt}}">
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>