<div>
    {% for item in site.data[include.folder].[include.data] %}
        <div class="timeline-element row">
            <div class="col-3 col-md-1 d-flex flex-column align-items-center">
                <h5 class="text-center font-italic text-danger">
                    {{item.time}}
                </h5>
                {% if forloop.last == false %}
                    <div class="vertical-ruler"></div>
                {% endif %}
            </div>
            <div class="col-9 col-md-11 row p-0">
                <div class="col text">
                    <h5>{{item.title}}</h5>
                    {% if item.story %}
                    <p class="font-italic font-serif">&bdquo;{{item.story}}&quot;</p>
                    {% endif %}
                    {{item.facts | markdownify}}
                </div>
                <div class="image col-md-3 p-md-0">
                    <h5 class="d-none d-md-block">&nbsp;</h5>
                    <a data-fslightbox="timeline" href="/assets/images/{{item.image}}">
                        <img width="100%" src="/assets/images/{{item.image}}" alt="{{item.imagealt}}">
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>