.gallery {
    .gallery-item {
        margin-bottom: 8rem;
        @include media-breakpoint-down(sm)  {
            margin-bottom: 4rem;
        }
        img {
            width: 100%;
            max-width: 280px;
            //height: 100%;
            object-fit: cover;
        }
        @include media-breakpoint-up(sm) {
            &:nth-child(even) {
                position: relative;
                top: 100px;
            }
        }
    }
}