---
layout: default
title: Cantopia ausleihen
permalink: /cantopia-reservieren/
description: Wie könnt ihr für eure Gruppe Cantopia ausleihen? Schaut euch an, was euch erwartet und reserviert ein Set für eure Gruppe.
dependencies: [fslightbox]
---

<section>
    <div>
        <h1 class="page-heading">Cantopia ausleihen</h1>
        <p>Das Spiel auszuleihen und zu spielen läuft folgendermaßen ab:</p>
        <ol>
            <li>
                Du füllst kurz dieses Reservierungs-Formular aus:<br>
                {% include comp/button-link.html link="https://forms.gle/4k1YUXYEjLUnYrM79" name="Zur Reservierung" %}
            </li>
            <li>Wir organisieren den Transport der Cantopia-Materialien (siehe <a href="#cantopia-sets">Cantopia-Sets</a>).</li>
            <li>Wir schicken euch den Zugang zur <a href="/cantopia-app">App</a> und das Vorbereitungsdokument zum Spielen.</li>
            <li>Vor dem Spieltag bereitet ihr alles vor, wie es in dem Dokument beschrieben ist.</li>
            <li>Ihr lasst das Erklärungsvideo laufen, damit alle Spielenden die Regeln des Spiels kennen.</li>
            <li>Das Spiel kann losgehen!</li>
        </ol>
        <br>
        <p>Du kannst das Spiel aber auch von uns anleiten lassen, dann musst du dich um noch weniger kümmern. Das ergibt aber eher Sinn für Firmenevents oder Ähnliches.</p>
    </div>
</section>

<section>
    <div>
        <h4 id="cantopia-calendar">Cantopia-Kalender</h4>
        <p>In diesem Google-Kalender könnt ihr einsehen, wann welches Cantopia-Set bereits von wem reserviert wurde.</p>
        <p>Im Optimalfall schaut ihr hier im Kalender, wer vor euch bzw. nach euch Cantopia spielt und organisiert den Transport direkt untereinander. Wir schicken euch nach Anmeldung die Kontaktdaten der Ansprechpersonen.</p>
        <iframe src="https://calendar.google.com/calendar/embed?wkst=1&ctz=Europe%2FBerlin&showPrint=0&src=M2RjMTU0ZTI2MjVlMWMyZTE4MTg5M2RmZmY5N2E0MjRjZWE0YWJiMmE1Y2E1ZTIwNDExNjliNDMyMTU1OTk2OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ODBlZjFiOGIwMDNkZGRmNmY2Yjk4OGM1NzE3OTJjZDE1YTg0NjAzM2YwM2ZmYjY0MmQzODVhNzU5OGRkNjdiYUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23a79b8e&color=%234285f4" frameborder="0" scrolling="no"></iframe>

        {% include comp/button-link.html name="Kalender öffnen" link="https://calendar.google.com/calendar/u/0/embed?wkst=2&ctz=Europe/Berlin&showPrint=0&title=Reservierungen+Cantopia&src=ODBlZjFiOGIwMDNkZGRmNmY2Yjk4OGM1NzE3OTJjZDE1YTg0NjAzM2YwM2ZmYjY0MmQzODVhNzU5OGRkNjdiYUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=M2RjMTU0ZTI2MjVlMWMyZTE4MTg5M2RmZmY5N2E0MjRjZWE0YWJiMmE1Y2E1ZTIwNDExNjliNDMyMTU1OTk2OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285f4&color=%23a79b8e" %}
    </div>
</section>

<section>
    <div>
        <h4 id="cantopia-sets">Cantopia-Sets</h4>
        <p>Wir haben aktuell 2 Cantopia-Sets, die du ausleihen kannst:</p>

        <h5 id="kisten-set">Kisten-Set:</h5>
        <div>
            <div class="image-and-text d-flex flex-wrap justify-content-center">
                <div class="image image-big">
                    <a data-fslightbox="timeline" href="/assets/images/cantopia-reservieren/kistensystem.JPG">
                        <img class="rounded-3" src="/assets/images/cantopia-reservieren/kistensystem.JPG" alt='Das Cantopia Kisten-Set'>
                    </a>
                </div>
                <div class="content col-md-7 d-flex flex-column justify-content-center0">
                    <ul>
                        <li>Für bis zu 120 Spielende ausgelegt (12x10er Teams)</li>
                        <li>Zum Transport wird ca. ein kompletter Kofferraum benötigt</li>
                        <li>Je nach gewählten <a href="/erweiterungen">Erweiterungen</a> sind es mehr oder weniger Kisten</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <h5 id="koffer-set">Koffer-Set:</h5>
        <div>
            <div class="image-and-text d-flex flex-wrap justify-content-center">
                <div class="image image-big">
                    <a data-fslightbox="timeline" href="/assets/images/home/koffer.png">
                        <img class="rounded-3" src="/assets/images/cantopia-reservieren/koffer.png" alt='Das Cantopia Koffer-Set'>
                    </a>
                </div>
                <div class="content col-md-7 d-flex flex-column justify-content-center0">
                    <ul>
                        <li>Auch für bis zu 120 Spielende ausgelegt (12x10er Teams)</li>
                        <li>Braucht viel weniger Platz und kann auch im Zug mitgenommen werden. Wiegt allerdings trotzdem 33 kg</li>
                        <li>Alle Materialien sind hierbei ein bisschen kleiner skaliert und enger zusammengepackt, damit es in den Koffer passt</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        {% include comp/button-link.html center=true link="https://forms.gle/4k1YUXYEjLUnYrM79" name="Jetzt reservieren!" %}
    </div>
</section>

<section>
    <div>
        <h4>FAQ</h4>
        {% include faq.html %}
    </div>
</section>
