---
layout: default
title: Cantopia ausleihen
permalink: /cantopia-reservieren/
description: Wie könnt ihr für eure Gruppe Cantopia ausleihen? Schaut euch an, was euch erwartet und reserviert ein Set für eure Gruppe.
dependencies: [fslightbox]
---

<section>
    <div>
        <h1 class="page-heading">Cantopia ausleihen</h1>
        <p>Das Spiel auszuleihen und zu spielen läuft folgendermaßen ab:</p>
        <ol>
            <li>
                Du füllst kurz dieses Reservierungs-Formular aus:<br>
                {% include comp/button-link.html link="https://forms.gle/4k1YUXYEjLUnYrM79" name="Zur Reservierung" %}
            </li>
            <li>Wir kontaktieren dich, um zu koordinieren, wie eins der beiden <a href="#cantopia-sets">Cantopia-Sets</a> zu euch kommt.</li>
            <li>Wir schicken euch den Zugang zur <a href="/cantopia-app">App</a> und das Vorbereitungsdokument zum Spielen.</li>
            <li>Vor dem Spieltag bereitet ihr alles vor, wie es in dem Dokument beschrieben ist.</li>
            <li>Ihr lasst das Erklärungsvideo laufen, damit alle Spielenden die Regeln des Spiels kennen.</li>
            <li>Das Spiel kann losgehen!</li>
        </ol>
        <br>
        <p>Du kannst das Spiel aber auch von uns anleiten lassen, dann musst du dich um noch weniger kümmern. Das ergibt aber eher Sinn für Firmenevents oder Ähnliches.</p>
    </div>
</section>

<section>
    <div>
        <h4 id="cantopia-sets">Cantopia-Sets</h4>
        <p>Wir haben aktuell 2 Cantopia-Sets, die du ausleihen kannst:</p>

        <h5 id="kisten-set">Kisten-Set:</h5>
        <div>
            <div class="image-and-text d-flex flex-wrap justify-content-center">
                <div class="image image-big">
                    <a data-fslightbox="timeline" href="/assets/images/home/kistensystem.png">
                        <img class="rounded-3" src="/assets/images/cantopia-reservieren/kistensystem.png" alt='Das Cantopia Kisten-Set'>
                    </a>
                </div>
                <div class="content col-md-7 d-flex flex-column justify-content-center0">
                    <ul>
                        <li>Für bis zu 120 Spielende ausgelegt (12x10er Teams)</li>
                        <li>Zum Transport wird ca. ein kompletter Kofferraum benötigt</li>
                        <li>Je nach gewählten <a href="/erweiterungen">Erweiterungen</a> sind es mehr oder weniger Kisten</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <h5 id="koffer-set">Koffer-Set:</h5>
        <div>
            <div class="image-and-text d-flex flex-wrap justify-content-center">
                <div class="image image-big">
                    <a data-fslightbox="timeline" href="/assets/images/home/koffer.png">
                        <img class="rounded-3" src="/assets/images/cantopia-reservieren/koffer.png" alt='Das Cantopia Koffer-Set'>
                    </a>
                </div>
                <div class="content col-md-7 d-flex flex-column justify-content-center0">
                    <ul>
                        <li>Auch für bis zu 120 Spielende ausgelegt (12x10er Teams)</li>
                        <li>Braucht viel weniger Platz und kann auch im Zug mitgenommen werden. Wiegt allerdings trotzdem 33 kg</li>
                        <li>Alle Materialien sind hierbei ein bisschen kleiner skaliert und enger zusammengepackt, damit es in den Koffer passt</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        {% include comp/button-link.html center=true link="https://forms.gle/4k1YUXYEjLUnYrM79" name="Jetzt reservieren!" %}
    </div>
</section>

<section>
    <div>
        <h4>FAQ</h4>
        {% include faq.html %}
    </div>
</section>
