---
layout: default
title: Cantopia - App
---

<section>
    <div>
        <h3 class="page-heading">Cantopia-App</h3>
        <p>Warum braucht man bei einem realen Großgruppenspiel eine App?</p>
        <p>
<!--            TODO: nochmal umschreiben? klingt so, als ob die App nur dazu da ist, dass nicht beschissen wird-->
            Cantopia ist kein Spiel an einem Spielbrett. Dadurch ist es für die einzelnen Teams an den dezentralen
            Standorten einfacher Regeln zu missachten, wenn auch nicht mit Absicht.<br>
            Deshalb gibt es pro Team eine Kontrollinstanz: der Bürgermeister. Dieser begleitet das Team während des Spiels.
            Damit der Bürgermeister das Regelwerk vorher nicht auswendig kennen muss gibt es die Cantopia-App.
            Darum ist die App fester Bestandteil des Spiels
        </p>
    </div>
</section>

<section>
    <div>
        <h4>Was kann die App?</h4>
        {% include comp/icons-and-text.html folder="cantopia-app" data="app-features" %}
    </div>
</section>

<section>
    <div>
        <h4>Screenshots</h4>
        {% include comp/gallery.html folder="cantopia-app" data="screenshots" %}
    </div>
</section>

<section>
    <div>
        <h4>Get Cantopia</h4>
        <p>Das ist ja alles schön und gut, aber wie kannst <i>du</i> jetzt Cantopia spielen?</p>
        {% include comp/centered-button.html site="get-cantopia" name="Hier entlang" %}
    </div>
</section>