---
layout: default
title: Cantopia - Cantopia-App
permalink: /cantopia-app/
dependencies: [fslightbox]
---

<section>
    <div>
        <h1 class="page-heading">Cantopia-App</h1>
        {% include comp/image-and-text.html folder="cantopia-app" data="intro" %}
        <br>
        {% include comp/centered-button.html link="https://cantopia.fluhrer.games" name="Zur App" %}
    </div>
</section>

<section>
    <div>
        <h4>Was kann die App?</h4>
        {% include comp/icons-and-text.html folder="cantopia-app" data="app-features" %}
    </div>
</section>

<section>
    <div>
        <h4>Screenshots</h4>
        {% include comp/gallery.html folder="cantopia-app" data="screenshots" %}
    </div>
</section>

<section>
    <div>
        <h4>Get Cantopia</h4>
        <p>Das ist ja alles schön und gut, aber wie kannst <i>du</i> jetzt Cantopia spielen?</p>
        {% include comp/centered-button.html site="/get-cantopia" name="Hier entlang" %}
    </div>
</section>