---
layout: default
title: Cantopia reservieren - Pakete
permalink: /cantopia-reservieren/
description: Wie könnt ihr für eure Gruppe Cantopia reservieren? Hierfür haben wir zwei Pakete. Schaut euch an, welches für euch am besten passt.
---

<section>
    <div>
        <h1 class="page-heading">Cantopia reservieren</h1>
        <p>
            Wie könnt ihr für eure Gruppe Cantopia reservieren? Hierfür haben wir zwei Pakete. Schaut euch an, welches für euch am besten passt.
        </p>
    </div>
</section>

<section>
    <div>
        <h4>Paket: Anleiten</h4>
        <div class="image image-big">
            <img src="/assets/images/cantopia-reservieren/paket-anleiten-v2.jpg" alt="offener Systainer mit Materialien">
            <div class="image-subtitle">Wir kommen vorbei und spielen das Spiel mit euch</div>
        </div>
        <br>
        <h5 class="italic-serif">Was ist alles dabei?</h5>
        {% include comp/icons.html folder="cantopia-reservieren" data="paket-anleiten-dabei" %}
        <h5 class="italic-serif">Wie läuft das ab?</h5>
        <ol class="list">
            <li>
                <a href="#kontakt">Schreibt uns</a> einfach folgende Infos:
                <p></p>
                <p class="py-1">
                    <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;
                    Termin und Anlass des Spieltags/der Spieltage
                </p>
                <p class="py-1">
                    <i class="fas fa-users"></i>&nbsp;&nbsp;
                    Mit wie vielen wollt ihr das Spiel spielen?
                </p>
            </li>
            <li>Wir schicken euch ein individuelles Angebot zu</li>
            <li>Wir kommen vorbei und spielen mit euch Cantopia</li>
        </ol>
    </div>
</section>

<section>
    <div>
        <h4>Paket: Ausleihen</h4>
        <div class="image image-big">
            <img src="/assets/images/cantopia-reservieren/paket-ausleihen.jpg" alt="offener Systainer mit Materialien">
            <div class="image-subtitle">Ihr bekommt die Materialien und leitet das Spiel selbst an</div>
        </div>
        <br>
        <h5 class="italic-serif">Was ist alles dabei?</h5>
        {% include comp/icons.html folder="cantopia-reservieren" data="paket-ausleihen-dabei" %}
        <h5 class="italic-serif">Wie läuft das ab?</h5>
        <ol class="list">
            <li>
                <a href="#kontakt">Schreibt uns</a> einfach folgende Infos:
                <p></p>
                <p class="py-1">
                    <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;
                    Termin des Spieltags/der Spieltage
                </p>
                <p class="py-1">
                    <i class="fas fa-users"></i>&nbsp;&nbsp;
                    Mit wie vielen wollt ihr das Spiel spielen?
                </p>
                <p class="py-1">
                    <i class="fas fa-puzzle-piece"></i>&nbsp;&nbsp;
                    Gewünschte <a href="/erweiterungen">Erweiterungen</a>
                </p>
            </li>
            <li>Wir schicken euch ein individuelles Angebot zu</li>
            <li>Ihr bekommt alle Infos und Dokumente, die für die Spielvorbereitung und Durchführung nötig sind</li>
            <li>Versand/Abholung der Materialien</li>
            <li>Am Spieltag leitet ihr selbst das Spiel</li>
        </ol>
    </div>
</section>

<section>
    <div>
        <h4>FAQ</h4>
        {% include faq.html %}
    </div>
</section>

<section>
    <div>
        <h4>Preis</h4>
        <p>Aber was kostet es eigentlich Cantopia zu spielen?</p>
        {% include comp/centered-button.html site="/preis" name="Hier erfährst du mehr" %}
    </div>
</section>
