---
layout: default
title: Cantopia - Das Spiel
permalink: /das-spiel/
description: Eine kurze Übersicht, wie eine Siedlung im Spiel Cantopia aufgebaut werden kann.
dependencies: [fslightbox]
---

<section>
    <div>
        <h1 class="page-heading">Das Spiel</h1>
        <p>
            Folgende Timeline erzählt eine Geschichte einer Siedlung in Cantopia und zeigt einen möglichen Aufbau eines
            Teams während eines Spiels. Hiermit kann ein Eindruck über den Verlauf des Spieles geben werden.
        </p>
        {% include comp/timeline.html folder="das-spiel" data="timeline" %}
    </div>
</section>

<section>
    <div>
        <h4>Ende des Spiels</h4>
        <div class="image image-big">
            <img src="/assets/images/das-spiel/moegliches-ende-des-spiels.JPG"
                 alt="Möglicher Aufbau einer Siedlung am Ende von Cantopia">
            <div class="image-subtitle">Möglicher Aufbau einer Siedlung am Ende des Spiel</div>
        </div>
    </div>
</section>

<section>
    <div>
        <h4>Erweiterungen</h4>
        <p>
            Diese Timeline stellt einen schematischen Ablauf des <u>Grundspiels</u> dar.<br>
            Dieses Grundspiel kann modular durch 4 verschiedene Erweiterungen ergänzt werden, wodurch das Spiel jeweils
            eine individuelle Dynamik erhält.
        </p>
        {% include comp/button-link.html center=true name="Mehr zu Erweiterungen" site="/erweiterungen" %}
    </div>
</section>
