---
layout: default
title: Cantopia - Erweiterungen
permalink: /erweiterungen/
description: Alle 4 Erweiterungen können beliebig mit dem Grundspiel kombiniert werden. Je mehr, desto dynamischer und anspruchsvoller das Spielgeschehen.
dependencies: [fslightbox, glide]
---

<section>
    <div>
        <h1 class="page-heading">Erweiterungen</h1>
        {% include comp/glide.html data=site.data.erweiterungen.erweiterungen %}
        <br>
        <p>
            Alle 4 Erweiterungen können beliebig mit dem Grundspiel kombiniert werden. Je mehr, desto dynamischer und
            anspruchsvoller das Spielgeschehen.
        </p>
    </div>
</section>
<section>
    <div>
        <h4 id="naturkatastrophen">Naturkatastrophen</h4>
        {% include erweiterungen.html folder="erweiterungen" data="naturkatastrophen" %}
    </div>
</section>

<section>
    <div>
        <h4 id="glaubeUndBildung">Glaube & Bildung</h4>
        {% include erweiterungen.html folder="erweiterungen" data="glaubeUndBildung" %}
    </div>
</section>

<section>
    <div>
        <h4 id="raeuberUndGendarm">Räuber & Gendarm</h4>
        {% include erweiterungen.html folder="erweiterungen" data="raeuberUndGendarm" %}
    </div>
</section>

<!--{% include erweiterungen.html folder="erweiterungen" data="erweiterungen" %}-->

<section class="section-gradient">
    <div>
        <h4>Cantopia-App</h4>
        <p>
            Schon von der Cantopia-App gehört? Sie nimmt dem Bürgermeister viel Arbeit ab und verringert so unter
            anderem die Vorbereitungszeit.
        </p>
        {% include /comp/button-link.html center=true name="Mehr dazu" site="/cantopia-app" %}
    </div>
</section>
