---
layout: default
title: Cantopia - Pakete
permalink: /get-cantopia/
---

<section>
    <div>
        <h1 class="page-heading">Get Cantopia</h1>
        <p>
            Wie könnt ihr Cantopia spielen? Hierfür haben wir zwei Pakete. Schaut euch an, welcher für euch am besten passt.
        </p>
    </div>
</section>

<section>
    <div>
        <h4>Paket: Anleiten</h4>
        <div class="image image-big">
            <img src="/assets/images/get-cantopia/paket-anleiten.png" alt="offener Systainer mit Materialien">
            <div class="image-subtitle">Wir kommen vorbei und spielen das Spiel mit euch</div>
        </div>
        <br>
        <h5 class="italic-serif">Was ist alles dabei?</h5>
        {% include comp/icons.html folder="get-cantopia" data="paket-anleiten-dabei" %}
        <h5 class="italic-serif">Wie läuft das ab?</h5>
        <ol class="list">
            <li>
                <a href="#kontakt">Schreibt uns</a> einfach folgende Infos:
                <p></p>
                <p class="py-1">
                    <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;
                    Termin und Anlass des Spieltags/der Spieltage
                </p>
                <p class="py-1">
                    <i class="fas fa-users"></i>&nbsp;&nbsp;
                    Mit wie vielen wollt ihr das Spiel spielen?
                </p>
            </li>
            <li>Wir schicken euch ein individuelles Angebot zu</li>
            <li>Wir kommen vorbei und spielen mit euch Cantopia</li>
        </ol>
    </div>
</section>

<section>
    <div>
        <h4>Paket: Ausleihen</h4>
        <div class="image image-big">
            <img src="/assets/images/get-cantopia/paket-ausleihen.jpg" alt="offener Systainer mit Materialien">
            <div class="image-subtitle">Ihr bekommt die Materialien und leitet das Spiel selbst an</div>
        </div>
        <br>
        <h5 class="italic-serif">Was ist alles dabei?</h5>
        {% include comp/icons.html folder="get-cantopia" data="paket-ausleihen-dabei" %}
        <h5 class="italic-serif">Wie läuft das ab?</h5>
        <ol class="list">
            <li>
                <a href="#kontakt">Schreibt uns</a> einfach folgende Infos:
                <p></p>
                <p class="py-1">
                    <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;
                    Termin des Spieltags/der Spieltage
                </p>
                <p class="py-1">
                    <i class="fas fa-users"></i>&nbsp;&nbsp;
                    Mit wie vielen wollt ihr das Spiel spielen?
                </p>
                <p class="py-1">
                    <i class="fas fa-puzzle-piece"></i>&nbsp;&nbsp;
                    Gewünschte <a href="/erweiterungen">Erweiterungen</a>
                </p>
            </li>
            <li>Wir schicken euch ein individuelles Angebot zu</li>
            <li>Ihr bekommt alle Infos und Dokumente, die für die Spielvorbereitung und Durchführung nötig sind</li>
            <li>Versand/Abholung der Materialien</li>
            <li>Am Spieltag leitet ihr selbst das Spiel</li>
        </ol>
    </div>
</section>

<section>
    <div>
        <h4>FAQ</h4>
        <h5 class="italic-serif">Was kostet es, Cantopia zu spielen?</h5>
        <p>Das ist tatsächlich immer im Einzelfall zu betrachten. Hier kommen viele Faktoren (Anzahl der Teams, Anzahl Erweiterungen, Spielort, welches Paket) zusammen, weshalb kein pauschaler Preis genannt werden kann. <a href="#kontakt">Schreib' uns</a> einfach mal und dann können wir verhandeln.</p>
        <br>
        <h5 class="italic-serif">Wie viele Leute brauche ich mindestens?</h5>
        <p>Cantopia wurde bereits nur mit 6 Personen gespielt und hat dabei den Spielenden schon richtig viel Spaß bereitet.</p>
        <br>
        <h5 class="italic-serif">Kann ich Cantopia drinnen oder draußen spielen?</h5>
        <p>Das ist im Prinzip egal, beides ist problemlos möglich. Deshalb ist es auch nicht abhängig von der Jahreszeit.</p>
        <br>
        <h5 class="italic-serif">Wie viele Leute müssen in ein Team?</h5>
        <p>Mindestens 2. Cantopia lebt vom Spielen in Teams. Jedoch sollten es nicht mehr als 10 in einem Team sein, denn sonst könnten sich manche langweilen.</p>
        <br>
        <h5 class="italic-serif">Was muss ich organisieren?</h5>
        <p>Wenn du dir das Paket "Ausleihen" aussuchst, solltest du detailliert die Spielregeln lesen, am Spieltag die Spielmaterialien hinrichten und das Spiel anleiten. Wenn wir es anleiten, musst du nur die Location und die Teilnehmenden organisieren.</p>
        <br>
        <br>
        <p>Du hast weitere Fragen, die hier nicht beantwortet sind? Schreibe uns einfach über <a href="#kontakt">diese Kanäle</a>!</p>
    </div>
</section>

<section>
    <div>
        <h4>Über uns</h4>
        <p>Jetzt weißt du, wie du Cantopia spielen kannst. Willst du auch wissen, wie alles angefangen hat?</p>
        {% include comp/centered-button.html site="/ueber-uns" name="Über uns" %}
    </div>
</section>