---
layout: default
title: Cantopia - Ein strategisches Großgruppenspiel
permalink: /
description: Cantopia ist ein dynamisches, strategisches Großgruppenspiel für Jugendarbeit, Schulen, Firmen- und Teamevents entwickelt von Fluhrer Games. Das Spiel Cantopia verbindet Strategie und Teamwork und begeistert Spieler jeden Alters.
---

<div class="hero-image-container">
    <div class="hero-image">
        <img src="/assets/images/wuerfel-hero-image.jpg" alt="Würfel Hero Image" aria-hidden="true">
    </div>
    <div class="container text-center hero-text text-white">
        <img src="/assets/images/cantopia-logo.png" alt="Cantopia Logo" id="cantopia-logo">
        <a href="#was-ist-cantopia" class="text-white text-shadow" aria-label="zum Bereich: 'Was ist Cantopia?'">
            <i class="down-icon fas fa-chevron-circle-down fa-4x"></i>
        </a>
    </div>
</div>

<section>
    <div>
        <h1 class="page-heading text-center" id="was-ist-cantopia">Was ist Cantopia?</h1>
        <p class="bigger-text text-center">Ein <strong>Gruppenspiel</strong> mit...</p>
        {% include comp/icons.html folder="home" data="was-ist-cantopia" %}
        <p class="bigger-text text-center">
            ...für <strong>Jugendarbeit, Schulen, Firmen- und Teamevents</strong><br>
            entwickelt mit <span class="fg-red">&#9829;</span> von Fluhrer Games.
        </p>
        <br>
        {% include comp/button-link.html center=true name="Cantopia reservieren" link="https://forms.gle/JTz4y4myHv6oPbSK6" %}
    </div>
</section>

<section>
    <div>
        <h4 id="welchen-umfang-hat-cantopia">Welchen Umfang hat Cantopia?</h4>
        {% include comp/icons.html folder="home" data="welchen-umfang-hat-cantopia" %}
    </div>
</section>

<section>
    <div>
        <h4 id="wie-funktioniert-cantopia">Wie funktioniert Cantopia?</h4>
        {% include comp/image-and-text.html folder="home" data="wie-funktioniert-cantopia" %}
        {% include comp/button-link.html center=true name="Mehr zum Spiel" site="/das-spiel" %}
    </div>
</section>

<section>
    <div>
        <h4 id="wie-kann-ich-cantopia-spielen">Wie kann ICH Cantopia spielen/reservieren?</h4>
        <p>Cantopia wurde schon auf Zeltlagern, in Schulen, auf Team-Events in Unternehmen und Geburtstagen gespielt!</p>
        <p>
          Du kannst Cantopia selbst ausleihen oder wir kommen vorbei und leiten es an.<br>
          Fülle das Formular aus, um Cantopia für eure Gruppe zu reservieren
        </p>
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4">
            {% include comp/button-link.html name="Cantopia reservieren" link="https://forms.gle/JTz4y4myHv6oPbSK6" %}
            {% include comp/button-link.html name="Cantopia-Pakete" site="/cantopia-reservieren" type="secondary" %}
        </div>
    </div>
</section>

<section>
    <div>
        <h4 id="wen-begeistert-cantopia">Wen begeistert Cantopia?</h4>
        <p class="text-center">
            Bisher haben <span class="big-text">{{ site.data.anzahl-spielende-google-drive.spielende[0].anzahl }}</span> Spielende das Gruppenspiel Cantopia gespielt.<br>
            Davon hauptsächlich in <span class="big-text">Kinder- und Jugendfreizeiten</span> und Schulen.<br>
            Cantopia ist aber auch geeignet für <span class="big-text">Team- und Firmenevents</span>.
        </p>
        {% include comp/quotes.html folder="home" data="quotes" %}
    </div>
</section>

<section>
    <div>
        <h4 id="preismodell">Und was kostet Cantopia?</h4>
        <p>
            Wir haben keinen spezifischen Preis auf Cantopia festgelegt, sondern folgen dem Prinzip <strong>Pay what it's worth!</strong>
        </p>
        {% include comp/button-link.html center=true name="zum Preismodell" site="/preis" %}
    </div>
</section>

<section>
    <div>
        <h4 id="impressionen">Impressionen</h4>
        <p class="text-center bigger-text">Folge Fluhrer Games auf Instagram!</p>
        {% include comp/button-link.html center=true name="Zum Insta-Account" link="https://instagram.com/fluhrer.games" %}
        <br>

        <!-- Place <div> tag where you want the feed to appear -->
        <div id="curator-feed-home-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
        <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
        <script>
            /* curator-feed-home-layout */
            (function(){
                var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
                i.src = "https://cdn.curator.io/published/06e7efca-dc44-4762-b6b1-5c8d170b60db.js";
                e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
            })();
        </script>

        <br>
        {% include comp/button-link.html center=true name="Mehr zum Spiel" site="/das-spiel" %}
    </div>
</section>
