<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/main.css">
<!--        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">-->
<!--        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">-->
    </head>
    <body>
        {% include header.html %}
        <article>
            {{ content }}
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>
    {% include footer.html %}
</html>

<style>
</style>