.lrb-gradient-white {
    position: relative;
    display: inline-block;
    &:before {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, white 0%, transparent 2%, transparent 98%, white 100%);
    }
    &:after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, white 0%, transparent 2%, transparent 98%, white 100%);
    }
}
section.section-gradient {
    background: linear-gradient(180deg, #d3d3d33d, transparent);
}
.cover-container {
    padding-bottom: 2rem;
}